body {
  padding-top: 51px;
  position: relative;
  background-color: lime;
  @media (min-width: @screen-md) {
    padding-top: 62px;
  }
}

body > section {
  padding: 2ex 0 3ex;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 1ex 0 .5ex;
  color: @brand-secondary;
}
p, ul, dt, dd {
  // text-align: center;
  color: @brand-secondary;
}

h1, .h1 { font-size: @font-size-h1; }
h2, .h2 { font-size: @font-size-h2; }
h3, .h3 { font-size: @font-size-h3; }
h4, .h4 { font-size: @font-size-h4; }
h5, .h5 { font-size: @font-size-h5; }
h6, .h6 { font-size: @font-size-h6; }

.before-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.5em;
}

.btn {
  border-radius: 0;
}

span.amp {
  font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
  font-size: 90%;
  font-style: italic;

}

section {
  position: relative;
  z-index: 2;
  > div {
    > header {
      margin: 10ex 0 4ex;
      // @media (min-width: @screen-sm) {
      //   background: url('../assets/filigree-rule.svg') no-repeat center center;
      //   background-size: 100%;
      // }
      // @media (min-width: @screen-md) {
      //   background: url('../assets/filigree-rule.svg') no-repeat center center;
      //   background-size: 100%;
      // }
      > h2.h1 {
        text-align: center;
        font-family: @font-family-heading;
      }
      > .h1 {
        position: relative;
        line-height: 1.75;
        span {
          background-color: #fff;
          padding: 0 1%;
        }
        &::before {
          content: "";
          background: url('../assets/filigree-rule-left.svg') no-repeat center left;
          background-size: 300%;
          position: absolute;
          top: 0;
          left: 0;
          width: 28%;
          height: 100%;
          @media (min-width: @screen-sm) {
            width: 37%;
            background-size: 180%;
          }
          @media (min-width: @screen-md) {
            width: 47%;
            background-size: 100%;
          }
        }
        &::after {
          content: "";
          background: url('../assets/filigree-rule-right.svg') no-repeat center right;
          background-size: 300%;
          position: absolute;
          top: 0;
          right: 0;
          width: 28%;
          height: 100%;
          @media (min-width: @screen-sm) {
            width: 37%;
            background-size: 180%;
          }
          @media (min-width: @screen-md) {
            width: 47%;
            background-size: 100%;
          }
        }
      }
    }
  }
}


footer > div > header {
  border-bottom: 1px solid @gray-light;
}

article {
  margin: 4ex 0;
  > header {
    // background-color: @brand-primary;
    border-bottom: 1px solid @brand-primary;
    padding: 2ex 0;
    h3,h4 {
      text-align: center;
      margin: 0;
    }
  }
  > section {
    // background-color: @gray-lighter;
    padding: 3ex 1em 1ex;
    ul {
      text-align: center;
      list-style: none;
      padding: 2ex 0 0;
      margin-bottom: 0;
      li {
        text-align: left;
        margin-bottom: .5ex;
        span {
          text-align: right;
          float: right;
        }
      }
    }
  }
}

.disclaimer {
  text-align: center;
  font-style: italic;
}



#call-to-action {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 522px;
  @media (min-width: @screen-sm) {
    height: 411px;
  }
  @media (min-width: @screen-md) {
    height: 411px;
  }
  #parallax-1 {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    url('../assets/banner.png') no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 51px;
    width: 100%;
    background-size: cover;
    @media (min-width: @screen-md) {
      margin-top: 62px;
    }

    .welcome {
      .container;
      padding-top: 6ex;
      padding-bottom: 6ex;
      h1, h2, h3, p {
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 1px #000;
      }
      p {
        font-family: @font-family-sans-serif;
        font-size: @font-size-h4;
        min-width: 320px;
        max-width: 475px;
        margin: 0 auto;
      }
      h1 {
        font-size: 4em;
        font-family: @font-family-heading;
        margin-top: 0;
      }
      h2 {
        a {
          color: white;
        }
      }
      h4 {
        color: @brand-primary;
        text-align: center;
        font-family: @font-family-heading;
      }
    }
  }
}

#services {
  background-color: #fff;
  // background: url('../assets/light_grey_floral_motif.png');
  article > header > h3 {
    font-family: @font-family-heading;
  }
}

#stylists {
  background: #fff;
  // background: url('../assets/light_grey_floral_motif.png');
  h1, h2, h3, p, dt, dd, .h1, .h2, .h3, {
    color: @brand-secondary;
    // text-align: center;
  }
  .stylist {
    position: relative;
    margin: 4ex 0;
    height: 510px;
    // background-size: 100%;
    img {
      display: block;
      width: 100%;
    }
    .bio {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-top: 1ex;
      padding-bottom: 1ex;
      background-color: rgba(85, 85, 85, .5);
      h1, p {
        margin-top: 0;
        text-align: center;
        color: white;
        padding-left: 2ex;
        padding-right: 2ex;
      }
      h1 {
        font-family: @font-family-heading;
      }
      p {
        margin-bottom: 0;
      }
    }
    ul {
      background-color: @gray-lighter;
      padding: 2ex 2em;
      // height: 418px !important;
      li {
        margin-bottom: .75ex;
        font-size: @font-size-h6;
      }
    }
    button {
      position: absolute;
      left: 0;
      bottom: -4ex;
      background-color: @brand-primary;
      color: #fff;
      width: 100%;
      font-family: @headings-font-family;
      &::before {
        content: "\f19d";
        .before-icon;
      }
    }
    &#kimberly {
      background: url('../assets/stylist-kimberly.jpg') no-repeat 16% top;
      @media (min-width: 630px) {
        background-position-x: center;
      }
      @media (min-width: @screen-sm) {
        background-position-x: 18%;
      }
      @media (min-width: @screen-md) {
        background-position-x: 24%;
      }
    }
    &#annie {
      background: url('../assets/stylist-annie.jpg') no-repeat center top;
      // background-size: 100%;
    }
    &#meagan {
      background: url('../assets/stylist-meagan.jpg') no-repeat center top;
    }
    &#kelsie {
      background: url('../assets/stylist-kelsie.jpg') no-repeat center top;
    }
  }
}
#product-lines {
  background-color: #fff;
  // background: url('../assets/light_grey_floral_motif.png');

  .product-links {
    margin: 0;
    > section {
      ul {
        padding: 0;
        li {
          display: inline-block;
          width: 44%;
          padding: 3.5%;
          @media (min-width: @screen-sm) {
            width: 30%;
            padding: 2%;
          }
          @media (min-width: @screen-md) {
            width: 20%;
            padding: 3%;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
#owners {
  background: #fff;
  padding-bottom: 10ex;
  div {
    section {
      margin-top: 4ex;
      margin-bottom: 4ex;
      img {
        width: 100%;
        margin-bottom: 2ex;
      }
      p {
        text-align: left;
        font-size: @font-size-h4;
      }
    }
  }
}
#contact {
  position: relative;
  z-index: 2;
  // background-color: @brand-primary;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../assets/salon-outside-1.jpg') no-repeat 84% center;
  background-size: inherit;
  @media (min-width: 510px) {
    background-position-x: 86%;
  }
  @media (min-width: @screen-sm) {
    background-position-x: 70%;
    background-size: 140%;
  }
  @media (min-width: @screen-md) {
    background-position-x: left;
    background-size: 120%;
  }
  min-height: 480px;
  padding: 4ex 0;
  header {
    margin-bottom: 2ex;
    h2 {
      font-family: @font-family-heading;
      text-align: center;
      color: white;
      text-shadow: 1px 1px 1px #000;
    }
  }
  .form-inline {
    padding-bottom: 4ex;
  }
  .form-group {
    margin-bottom: 2ex;
  }
  .form-control::-webkit-input-placeholder {
    color: @gray;
  }
  p {
    text-align: center;
    text-shadow: 1px 1px 1px #000;
  }
  .social {
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 1em;
      background: url('../assets/fb-logo.svg') no-repeat transparent;
    }
    span {
      display: inline-block;
      vertical-align: top;
      color: white;
    }
  }
  .embed-container {
    position: relative;
    padding-bottom: 64%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    iframe,
    .embed-container object,
    .embed-container embed {
      position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    }
  }
}
